body {
	padding-left: 11em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	background-color: #3300FF }
h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif }
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding: 2em;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 18em }